GREENHOODSPACE_APP_ENVIRONMENT=

GREENHOODSPACE_DATABASE_LOCAL_NAME=
GREENHOODSPACE_DATABASE_LOCAL_URL=
GREENHOODSPACE_DATABASE_PRODUCTION_NAME=
GREENHOODSPACE_DATABASE_PRODUCTION_URL=
GREENHOODSPACE_DATABASE_AUTO_COMMIT=
GREENHOODSPACE_DATABASE_AUTO_FLUSH=
GREENHOODSPACE_DATABASE_ECHO_LOGS=
